<!DOCTYPE html>
{% load static %}

<html lang="en">
    <head>
        <!-- Basic -->
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <!-- Mobile Metas -->
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <!-- Site Metas -->
        <meta name="keywords" content="" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <link rel="shortcut icon" href="../static/images/favicon.png" type="">
      
        <title> Siglo XXI </title>
      
        <!-- bootstrap core css -->
        <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.css" />
      
        <!--owl slider stylesheet -->
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />
        <!-- nice select  -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/css/nice-select.min.css" integrity="sha512-CruCP+TD3yXzlvvijET8wV5WxxEh5H8P4cmz0RFbKK6FlZ2sYl3AEsKlLPHbniXKSrDdFewhbmBK5skbdsASbQ==" crossorigin="anonymous" />
        <!-- font awesome style -->
        <link href="../static/css/font-awesome.min.css" rel="stylesheet" />
      
        <!-- Custom styles for this template -->
        <link href="../static/css/style.css" rel="stylesheet" />
        <!-- responsive style -->
        <link href="../static/css/responsive.css" rel="stylesheet" />
      
      </head>   
    <body id="bg">
        <div class="hero_area">
            <div class="bg-box">
              <img src="../static/images/Pizza-pie-tomatoes-oil_2880x1800.jpg" alt="">
            </div>
            <!-- header section strats -->
            <header class="header_section">
              <div class="container">
                <nav class="navbar navbar-expand-lg custom_nav-container ">
                  <a class="navbar-brand" href="">
                    <span>
                      Siglo XXI
                    </span>
                  </a>
        
                  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class=""> </span>
                  </button>
        
                  <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav  mx-auto ">
                      <li class="nav-item active">
                        <a class="nav-link" href="">Inicio <span class="sr-only">(actual)</span></a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/gestion">Gestion</a>
                      </li>

                    </ul>
                    <div class="user_option">
                      <a href="" class="user_link">
                        <i class="fa fa-user" aria-hidden="true"></i>
                      </a>
                    </div>
                    </div>
                  </nav>
                  </div>
                </header>

             
            <!-- end header section -->
    <!-- slider section -->
    <section class="slider_section ">
      <div id="customCarousel1" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="container ">
              <div class="row">
                <div class="col-md-7 col-lg-6 ">
                  <div class="detail-box">
                    <h1>
                      Bienvenido a Siglo XXI
                    </h1>
                    <p>
                      Finalmente podremos disfrutar de una experiencia de comida exquisita con una nueva renovacion tecnologica.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </section>
    <!-- end slider section -->
  </div>

  <!-- offer section -->

  <section class="offer_section layout_padding-bottom">
    <div class="offer_container">
      <div class="container ">
        <div class="row">
          <div class="col-md-6  ">
            <div class="box ">
              <div class="img-box">
                <img src="../static/images/tacotuesdayy.avif" alt="">
              </div>
              <div class="detail-box">
                <h5>
                  Martes de Tacos
                </h5>
                <h6>
                  <span>20%</span> Descuento
                </h6>
                <a href="">
                  Pida Ahora
                </a>
              </div>
            </div>
          </div>
          <div class="col-md-6  ">
            <div class="box ">
              <div class="img-box">
                <img src="../static/images/o2.jpg" alt="">
              </div>
              <div class="detail-box">
                <h5>
                  Viernes de Pizza
                </h5>
                <h6>
                  <span>15%</span> Descuento
                </h6>
                <a href="">
                  Pida ahora
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end offer section -->

  <!-- food section -->

  <section class="food_section layout_padding-bottom">
    <div class="container">
      <div class="heading_container heading_center">
        <h2>
          La Carta
        </h2>
      </div>

      <ul class="filters_menu">
        <li >Nuestros productos mas populares</li>
      </ul>

      <div class="filters-content">
        <div class="row grid">
          <div class="col-sm-6 col-lg-4 all pizza">
            <div class="box">
              <div>
                <div class="img-box">
                  <img src="../static/images/f1.png" alt="">
                </div>
                <div class="detail-box">
                  <h5>
                    Pizza 4 quesos
                  </h5>
                  <p>
                    Maravillosa pizza con 4 quesos y una deliciosa salsa de tomate.
                  </p>
                  <div class="options">
                    <h6>
                      $12.000
                    </h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4 all burger">
            <div class="box">
              <div>
                <div class="img-box">
                  <img src="../static/images/f2.png" alt="">
                </div>
                <div class="detail-box">
                  <h5>
                    Hamburguesa XXI
                  </h5>
                  <p>
                    Hamburguesa clasica al estilo Siglo XXI con Carne Angus.
                  </p>
                  <div class="options">
                    <h6>
                      $8.990
                    </h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4 all pizza">
            <div class="box">
              <div>
                <div class="img-box">
                  <img src="../static/images/tacos2.png" alt="">
                </div>
                <div class="detail-box">
                  <h5>
                    Tacos de carne
                  </h5>
                  <p>
                    Al mas puro estilo mexicano con carne de res, pollo y cebolla.
                  </p>
                  <div class="options">
                    <h6>
                      $1.500
                    </h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4 all pasta">
            <div class="box">
              <div>
                <div class="img-box">
                  <img src="../static/images/bistec.png" alt="">
                </div>
                <div class="detail-box">
                  <h5>
                    Bistec con papas
                  </h5>
                  <p>
                    Delicioso bistec con acompañamiento de papas caseras y ensalada de lechuga.
                  </p>
                  <div class="options">
                    <h6>
                      $10.500
                    </h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4 all fries">
            <div class="box">
              <div>
                <div class="img-box">
                  <img src="../static/images/f5.png" alt="">
                </div>
                <div class="detail-box">
                  <h5>
                    French Fries
                  </h5>
                  <p>
                    Porcion de french fries con 10 variedades de salsas y 4 a elección
                  </p>
                  <div class="options">
                    <h6>
                      $4.990
                    </h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4 all pizza">
            <div class="box">
              <div>
                <div class="img-box">
                  <img src="../static/images/sushi10.png" alt="">
                </div>
                <div class="detail-box">
                  <h5>
                    Sushi Mixto
                  </h5>
                  <p>
                    30 Piezas de Sushi a elección Tempura, Furai o Sashimi.
                  </p>
                  <div class="options">
                    <h6>
                      $9.990
                    </h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4 all burger">
            <div class="box">
              <div>
                <div class="img-box">
                  <img src="../static/images/f7.png" alt="">
                </div>
                <div class="detail-box">
                  <h5>
                    Hamburguesa de Pollo
                  </h5>
                  <p>
                    Rica hamburguesa de pollo con queso, tocino y verduras.
                  </p>
                  <div class="options">
                    <h6>
                      $8.990
                    </h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4 all burger">
            <div class="box">
              <div>
                <div class="img-box">
                  <img src="../static/images/marinated.png" alt="">
                </div>
                <div class="detail-box">
                  <h5>
                    Salmon ahumado
                  </h5>
                  <p>
                    Salmon Chileno ahumado a la perfección con una ensañada de acompañamiento
                  </p>
                  <div class="options">
                    <h6>
                      $9.990
                    </h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4 all pasta">
            <div class="box">
              <div>
                <div class="img-box">
                  <img src="../static/images/f9.png" alt="">
                </div>
                <div class="detail-box">
                  <h5>
                    Pasta XXI
                  </h5>
                  <p>
                    Pasta con salsa de tomate y extra queso parmesano.
                  </p>
                  <div class="options">
                    <h6>
                      $8.990
                    </h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="btn-box">
        <a href="">
          Ver mas
        </a>
      </div>
    </div>
  </section>

  <!-- end food section -->

  <!-- book section -->
  <section class="book_section layout_padding">
    <div class="container">
      <div class="heading_container">
        <h2>
          Pedir una Mesa
        </h2>
      </div>
      <div class="row">
        <div class="col-md-8 ">
          <div class="form_container">
            <form action="">
              <div>
                <input type="text" class="form-control" placeholder="Nombre" />
              </div>
              <div>
                <input type="text" class="form-control" placeholder="Telefono" />
              </div>
              <div>
                <input type="email" class="form-control" placeholder="Correo electronico" />
              </div>
              <div>
                <select class="form-control nice-select wide">
                  <option value="" disabled selected>
                    ¿Cuantas personas?
                  </option>
                  <option value="">
                    2
                  </option>
                  <option value="">
                    3
                  </option>
                  <option value="">
                    4
                  </option>
                  <option value="">
                    5
                  </option>
                </select>
              </div>
              <div>
                <input type="date" class="form-control">
              </div>
              <div class="btn_box">
                <button>
                  Agendar ahora
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end book section -->

  <!-- footer section -->
  <footer class="footer_section">
    <div class="container">
      <div class="row">
        <div class="col-md-4 footer-col">
          <div class="footer_contact">
            <h4>
              Contactanos
            </h4>
            <div class="contact_link_box">
              <a href="">
                <i class="fa fa-map-marker" aria-hidden="true"></i>
                <span>
                  Locacion
                </span>
              </a>
              <a href="">
                <i class="fa fa-phone" aria-hidden="true"></i>
                <span>
                  Llamanos +569 2342 6576
                </span>
              </a>
              <a href="">
                <i class="fa fa-envelope" aria-hidden="true"></i>
                <span>
                  SigloXXI@gmail.com
                </span>
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-4 footer-col">
          <div class="footer_detail">
            <a href="" class="footer-logo">
              Siglo XXI
            </a>
            <p>
              Restaurant chileno representante de la comida calida y deliciosa.
            </p>
            <div class="footer_social">
              <a href="">
                <i class="fa fa-facebook" aria-hidden="true"></i>
              </a>
              <a href="">
                <i class="fa fa-twitter" aria-hidden="true"></i>
              </a>
              <a href="">
                <i class="fa fa-linkedin" aria-hidden="true"></i>
              </a>
              <a href="">
                <i class="fa fa-instagram" aria-hidden="true"></i>
              </a>
              <a href="">
                <i class="fa fa-pinterest" aria-hidden="true"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-4 footer-col">
          <h4>
            Horario de Atención
          </h4>
          <p>
            Lunes a Viernes
          </p>
          <p>
            10.00 Am -10.00 Pm
          </p>
        </div>
      </div>
    </div>
  </footer>
  <!-- footer section -->

  <!-- jQery -->
  <script src="js/jquery-3.4.1.min.js"></script>
  <!-- popper js -->
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
  </script>
  <!-- bootstrap js -->
  <script src="js/bootstrap.js"></script>
  <!-- isotope js -->
  <script src="https://unpkg.com/isotope-layout@3.0.4/dist/isotope.pkgd.min.js"></script>
  <!-- nice select -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/js/jquery.nice-select.min.js"></script>
  <!-- custom js -->
  <script src="js/custom.js"></script>

</body>

</html>